<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-1">
      <!-- Section: Social media -->
      <section class="m-1">
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #cf223f;"
          href="https://www.instagram.com/gustavodperez/"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #00a0f7;"
          href="https://www.linkedin.com/in/gustavo-p%C3%A9rez-1b053616/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/GusDamPer"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://">Gustavo D. Pérez</a>
    </div>
    <!-- Copyright -->
  </footer>
