<!-- sección de presentación -->
<section class="presentacion m-3"> 
      
<!-- sección del Banner -->
<img class="banner" src="/assets/banner.jpg" alt="banner" class="w-100 img-fluid">
    
<div class="row justify-content-between presentacion_datos"> 

    <div class="col-6">
      <img src="/assets/foto-perfil.jfif" alt="foto-perfil" class="fotoperfil rounded-circle img-fluid col-7">
      <h1 class="nombre">Gustavo D. Pérez</h1>
      <h4>Full Stack Developer</h4>
      <h4>Técnico Superior en Tecnología de los Alimentos</h4>
      <br><p>Concordia, Entre Ríos (Argentina) <a href="http://">Información de contacto</a></p> <!-- Agregar link -->

      <div>
        <a class="btn btn-primary" href="#" role="button">Tengo interes en</a>
        <button type="button" class="btn btn-secondary mx-2">Añadir Sección</button>
        <button type="button" class="btn btn-secondary">Más</button>
      </div> 
    </div>

    <div class="col-5 instituciones">
      <img class="logo" src="/assets/logo_UNER.png" alt="logo UNER">
      <h4>Universidad Nacional de Entre Ríos</h4> <br>
      <img class="logo" src="/assets/logo_Arg_Prog.jpg" alt="Logo Argentina Programa">
      <h4>Argentina programa</h4> 
    </div>

</div>
</section>