<!-- Experiencia -->
<section class="seccion">
    <article>
      <div class="row">
        <div class="col-10">
          <h2 class="tit1">Experiencia Laboral</h2>
        </div>
        <div class="col-2 text-center">
          <button type="button" class="btn btn-light">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>


        <div class="row justify-content-between contenido">
          <h2>Experiencia 1</h2>
            <div class="col-2 text-center">
              <img class="logo" src="/assets/logo_EDOS.jpg" alt="Logo EDOS">
            </div>
            <div class="col-8">
              <h4>Laboratorio de control de calidad en EDOS</h4>
            <h5>2011 - actualidad</h5>
            </div>
            <div class="col-2 text-center">
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
        </div>

        <br>
        <div class="row justify-content-between contenido">
          <h2>Experiencia 2</h2>
            <div class="col-2 text-center">
              <img class="logo" src="/assets/logo_MIC_CAFESG.jpg" alt="Logo MIC CAFESG">
            </div>
            <div class="col-8">
              <h4>Museo Interactivo de Ciencias</h4>
            <h5>2015 - 2016</h5>
            </div>
            <div class="col-2 text-center">
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
        </div>
        <br>
    </article>

    <!-- Educacion -->
    <article>
      <div class="row">
        <div class="col-10">
          <h2 class="tit1">Educación</h2>
        </div>
        <div class="col-2 text-center">
          <button type="button" class="btn btn-light">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>

        <div class="row justify-content-between contenido">
          <h2>Educación 1</h2>
            <div class="col-2 text-center">
              <img class="logo" src="/assets/logo_Arg_Prog.jpg" alt="Logo Argentina Programa">
            </div><div class="col-8">
              <h4>Full Stack Developer</h4>
              <h5>2023</h5>
            </div>
            <div class="col-2 text-center">
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
        </div>
        <br>
        <div class="row justify-content-between contenido">
          <h2>Educación 2</h2>
            <div class="col-2 text-center">
              <img class="logo" src="/assets/logo_UNER.png" alt="logo UNER">
            </div><div class="col-8">
              <h4>Técnico Superior en Tecnología de los Alimentos</h4>
              <h5>2020</h5>
            </div>
            <div class="col-2 text-center">
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-light m-1">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
        </div>

    </article>
  </section>
